.card {
  padding: 20px;
  margin: 20px 10px;
  border-radius: 8px;
  border: 2px solid lightgray;
  width: 300px;
}

.imgCar {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.favoriteButton {
  background: none;
  border: none;
  cursor: pointer;
}

.star {
  font-size: 40px;
  color: #ccc;
}

.favorite {
  font-size: 40px;
  color: gold; /* Змініть колір на ваш вибір */
}

.deleteBtn {
  background-color: red;
  color: #fff;
  border: 1px solid #ceb9b9;
  font-size: 25px;
  font-weight: bold;
  padding: 5px 15px;
  width: 200px;
  margin: 0 17%;
  cursor: pointer;
}
