.selectedImg{
    width: 200px;
    height: auto;
}

.card{
    display: flex;
    // flex-direction: row;
    gap: 20px;
    list-style-type: none;
}
.productCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid red;
}